
#wrapper #content iframe{
   margin-bottom:30px;
}
#wrapper #content input[type=text],input[type=email]{
  width:400px;
  height:30px;
}
#wrapper #content textarea{
  width:400px;
  height:100px;
}
#wrapper #content input[type=submit]{
  padding:5px;
}
