.group_box{
  width:1000px;
  margin:auto;
  min-height:1000px;
  border:1px solid #ccc;
  border-radius:5px;
  list-style:none;
}
.group_box li{
  float: left;
  text-align:center;
  width:333px;
  min-height:300px;
  margin-top:30px;
}
#wrapper #content img{
  width:250px;
  height:250px;
  border:2px solid #9E2630;
}
