#wrapper #content .section_service{
 float:left;
 width:500px;
 padding:30px;
}
#wrapper #content .section_service p{
  text-align:justify;
  word-spacing:5px;
  line-height:20px;
  float:right;
  width:330px;
}
#wrapper #content .section_service img{
  float:left;
  margin-right:20px;
}
#wrapper #content .section_service a{
  text-decoration:none;
  color:##708090;
  padding:5px;
  border:1px solid #D3D3D3;
}
