* {
  margin:0px;
  padding:0px;
  font-size:14px;
  font-family:"Trebuchet MS",arial,helvetica,sans-serif;
}
#container{
  width:1150px;
  overflow:hidden;
  margin:auto;
}
#wrapper {
  width:100%;
  height:auto;
}
#wrapper hr{
  width:100%;
  height:12px;
  background-color:#9E2630;
}
#wrapper #header{
  height:100px;
}
#wrapper #header #header_left{
  height:100px;
  width:600px;
  float:left;
}
#wrapper #header #header_right{
  height:100px;
  width:400px;
  float:right;
}
#wrapper #header #header_right ul{
  list-style:none;
}
#wrapper #header #header_right ul li{
  float:left;
  width:100px;
}
#wrapper #header #header_right a{
  text-decoration:none;
  color:#9E2630;
  font-size:18px;
  font-weight:700;
  text-align:center;
  display:block;
  height:60px;
  padding-top:40px;
}
#wrapper #header #header_right a:hover{
 color:#FFA500;
}
#wrapper .wrapperslider{
  min-height:450px;
  border-radius:5px;
  background-color:black;
  margin-bottom:20px;
}
#wrapper #content{
  min-height:600px;
  width:1150px;
  border-radius:5px;
  padding-bottom:20px;
  overflow:hidden;
}
#wrapper #content h1{
  background-color:#9E2630;
  color:#D3D3D3;
  font-size:26px;
  padding:10px 0px 10px 20px;
  font-weight:lighter;
  letter-spacing:1px;
  margin-bottom:15px;
}
#wrapper #content h2{
  font-size:17px;
}
#wrapper #content .section{
 margin-top:15px;
 float:left;
}
#wrapper #content .section p{
  text-align:justify;
  word-spacing:5px;
  line-height:20px;
}
#wrapper #content .section img{
  float:left;
  margin-right:40px;
}
#wrapper #content .section a{
  text-decoration:none;
  color:#708090;
  padding:5px;
  border:1px solid #D3D3D3;
}
#wrapper #footer{
  height:40px;
  line-height:40px;
  width:100%;
  background-color:#9E2630;
  color:#D3D3D3;
  text-align:center;
}
